/backend/API/obj
/backend/api/appsettings.json
/backend/API/bin
/backend/Domain/obj
/backend/Domain/bin
/backend/Infrastructure/obj
/backend/Infrastructure/bin
/backend/Application/obj
/backend/Application/bin


backend/API/appsettings.json
